body{font-family:'Montserrat',sans-serif;margin:5px;padding:5px;background-color:#ef4723;color:#333333;}

a,a:visited,a:active,a:hover{color:#333333;text-decoration:none;border-bottom:2px dotted #ef4723;}
a:hover{border-bottom:2px solid #ef4723;color:#ef4723;}

ul{list-style:none;padding:0;margin:0;}

#notes{cursor:pointer;margin-bottom:40px}
#notes li{margin-bottom:10px;display:inline-block;}
#notes li:before{content:"✓ ";color:#ef4723;border-bottom:1px solid #ffffff;font-size:80%;}
#head{margin-top:-15px;margin-bottom:20px;}

.employer{margin-bottom:40px;}
.employer-head{;margin-top:20px;}
.employer-head li{padding:0;margin-bottom:5px;}
.employer-body{margin-top:20px;}
.employer-body li:before{content:"☛ ";color:#ef4723;margin-left:15px;}

h1{font-family:Prociono,sans-serif;letter-spacing:7px;background-color:#ef4723;color:#ffffff;padding:4px 3px 7px 8px;display:inline-block;font-weight:bold;margin-bottom:0;}
h2{background-color:#ef4723;color:#ffffff;padding:6px;font-size:94%;font-weight:bold;display:inline;}
h3{font-size:92%;}

ul.employer-body>li{text-indent:-2em;margin-left:2em;}

h2:hover{transition: all 0.1s ease-in-out;}
.wrapper{margin:0;padding:0}
.resume-body{color:#333333;box-shadow:6px 6px 35px #000000;background-color:#ffffff;margin-left:auto;margin-right:auto;margin-top:35px;width:750px;padding:20px;}
li.employer-title,li.employer-title-too{text-transform:uppercase;border-bottom:6px;padding:4px;}
#email,#phone{padding:0;margin-top:-10px;}
#phone{text-align:right;display:inline-block;vertical-align:right;}
#work-experience>.employer>h2{cursor:pointer;}
#work-experience>li:nth-child(1){margin-top:20px;}

.topcorner{width:25px;cursor:pointer;transition:width 1s ease-in-out;color:#ef4723;position:absolute;top:0;right:0;background-color:#ffffff;padding:5px 10px 5px 5px;margin:45px 0 20px 30px;box-shadow:3px 3px 9px #000000;}
.topcorner:hover{width:250px;}

.fa-3{font-size:2em;}

input[type="text"]{margin:2px;}
input[type="submit"]{margin:2px;}

.left{float:left;border:}
.left-33{float:left;border;width:33%;}
.left-33-last{float:left;border:text-align:right;}


.popup-content{diezzzzzzzzzzzsplay:none;}

.details{margin-top:-20px;}

#notes>h2{margin-bottom:40px;}

.toggler{display:none;}